In [1]:
%CREATE potato.db

In [2]:
create table activity (

 player_id     int     ,
 device_id     int     ,
 event_date    date    ,
 games_played  int
 );

In [3]:
 insert into activity values (1,2,'2016-03-01',5 ),(1,2,'2016-03-02',6 ),(2,3,'2017-06-25',1 )
 ,(3,1,'2016-03-02',0 ),(3,4,'2018-07-03',5 );

In [4]:
select * from activity

+-----------+-----------+------------+--------------+
| player_id | device_id | event_date | games_played |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-01 | 5            |
+-----------+-----------+------------+--------------+
| 1         | 2         | 2016-03-02 | 6            |
+-----------+-----------+------------+--------------+
| 2         | 3         | 2017-06-25 | 1            |
+-----------+-----------+------------+--------------+
| 3         | 1         | 2016-03-02 | 0            |
+-----------+-----------+------------+--------------+
| 3         | 4         | 2018-07-03 | 5            |
+-----------+-----------+------------+--------------+

Q1: Write an SQL query that reports the first login date for each player

In [6]:
select player_id,min(event_date) as first_logindate from activity
group by player_id

+-----------+-----------------+
| player_id | first_logindate |
+-----------+-----------------+
| 1         | 2016-03-01      |
+-----------+-----------------+
| 2         | 2017-06-25      |
+-----------+-----------------+
| 3         | 2016-03-02      |
+-----------+-----------------+

Q2: Write a SQL query that reports the device that is first logged in for each player

In [7]:
select device_id,min(event_date) as first_logindate from activity
group by player_id

+-----------+-----------------+
| device_id | first_logindate |
+-----------+-----------------+
| 2         | 2016-03-01      |
+-----------+-----------------+
| 3         | 2017-06-25      |
+-----------+-----------------+
| 1         | 2016-03-02      |
+-----------+-----------------+

Q3: Write an SQL query that reports for each player and date, how many games played so far by the player. That is, the total number of games played by the player until that date.

In [8]:
select *,sum(games_played) over(partition by player_id order by event_date) as total_games_played
from activity

+-----------+-----------+------------+--------------+--------------------+
| player_id | device_id | event_date | games_played | total_games_played |
+-----------+-----------+------------+--------------+--------------------+
| 1         | 2         | 2016-03-01 | 5            | 5                  |
+-----------+-----------+------------+--------------+--------------------+
| 1         | 2         | 2016-03-02 | 6            | 11                 |
+-----------+-----------+------------+--------------+--------------------+
| 2         | 3         | 2017-06-25 | 1            | 1                  |
+-----------+-----------+------------+--------------+--------------------+
| 3         | 1         | 2016-03-02 | 0            | 0                  |
+-----------+-----------+------------+--------------+--------------------+
| 3         | 4         | 2018-07-03 | 5            | 5                  |
+-----------+-----------+------------+--------------+--------------------+


Q4: Write an SQL query that reports the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places

In [16]:
with min_date as (
    select player_id,min(event_date) as first_logindate
    
    from activity
group by player_id
    )
select a.*,b.first_logindate
    -- DATEDIFF(day,a.event_date,b.first_logindate) as date_diff
from activity a 
inner join min_date b on a.player_id = b.player_id

where (a.event_date - b.first_logindate) = 1

+-----------+-----------+------------+--------------+-----------------+
| player_id | device_id | event_date | games_played | first_logindate |
+-----------+-----------+------------+--------------+-----------------+

In [17]:
-- Result :
 -- PLAYER_ID	DEVICE_ID	EVENT_DATE	GAMES_PLAYED	FIRST_LOGINDATE
 -- 1	          2	         02-MAR-16	 6	             01-MAR-16

Error: Statement needs to be reseted