In [1]:
%CREATE potato.db

In [2]:
create table tbl_orders (
order_id integer,
order_date date
);

In [3]:

insert into tbl_orders
values (1,'2022-10-21'),(2,'2022-10-22'),
(3,'2022-10-25'),(4,'2022-10-25');

In [5]:
create table  as select * from  tbl_orders;

In [6]:
select * from tbl_orders;

+----------+------------+
| order_id | order_date |
+----------+------------+
| 1        | 2022-10-21 |
+----------+------------+
| 2        | 2022-10-22 |
+----------+------------+
| 3        | 2022-10-25 |
+----------+------------+
| 4        | 2022-10-25 |
+----------+------------+

In [7]:
select * from tbl_orders_copy

+----------+------------+
| order_id | order_date |
+----------+------------+
| 1        | 2022-10-21 |
+----------+------------+
| 2        | 2022-10-22 |
+----------+------------+
| 3        | 2022-10-25 |
+----------+------------+
| 4        | 2022-10-25 |
+----------+------------+

Lets insert few records and delete order_id = 1

In [8]:
insert into tbl_orders
values (5,'2022-10-26'),(6,'2022-10-26');

In [9]:
delete from tbl_orders where order_id=1;

In [10]:
select * from tbl_orders;

+----------+------------+
| order_id | order_date |
+----------+------------+
| 2        | 2022-10-22 |
+----------+------------+
| 3        | 2022-10-25 |
+----------+------------+
| 4        | 2022-10-25 |
+----------+------------+
| 5        | 2022-10-26 |
+----------+------------+
| 6        | 2022-10-26 |
+----------+------------+

In [11]:
select * from tbl_orders_copy

+----------+------------+
| order_id | order_date |
+----------+------------+
| 1        | 2022-10-21 |
+----------+------------+
| 2        | 2022-10-22 |
+----------+------------+
| 3        | 2022-10-25 |
+----------+------------+
| 4        | 2022-10-25 |
+----------+------------+

In [ ]:
select bkp.*,src.*
from tbl_orders_copy bkp
full outer join tbl_orders src
on bkp.order_id = src.order_id

ORDER_ID	ORDER_DATE	ORDER_ID	ORDER_DATE
2	        22-OCT-22	2	    22-OCT-22
3	        25-OCT-22	3	    25-OCT-22
4	        25-OCT-22	4	    25-OCT-22
NULL 	      NULL 	    5	    26-OCT-22
NULL	      NULL 	    6	    26-OCT-22
1	        21-OCT-22	NULL     NULL

In [ ]:
select coalesce(bkp.ORDER_ID,src.order_id) as order_id,
(case when bkp.order_id is null then 'I'
    when src.order_id is null then 'D' end) as Flag 
from tbl_orders_copy bkp
full outer join tbl_orders src
on bkp.order_id = src.order_id

where bkp.order_id is null or src.order_id is null

 ORDER_ID	    FLAG
 5	         I
 6	         I
 1	         D