### Find number of users who purchased same prodcut on same dates ###

In [1]:
%CREATE potato.db

In [ ]:
CREATE TABLE purchases (
  user_id NUMBER,
  product_id NUMBER,
  quantity NUMBER,
  purchase_date DATE
);

In [17]:
INSERT INTO purchases VALUES 
    (827, 3585, 35, '02/20/2022 14:05:26')
(536, 3223, 5, '03/02/2022 09:33:28'),
(536, 1435, 10, '03/02/2022 08:40:00'),
(827, 2452, 45, '04/09/2022 00:00:00');

In [18]:
select * from purchases

+---------+------------+----------+---------------------+
| user_id | product_id | quantity | purchase_date       |
+---------+------------+----------+---------------------+
| 536     | 3223       | 6        | 01/11/2022 12:33:44 |
+---------+------------+----------+---------------------+
| 827     | 3585       | 35       | 02/20/2022 14:05:26 |
+---------+------------+----------+---------------------+
| 536     | 3223       | 5        | 03/02/2022 09:33:28 |
+---------+------------+----------+---------------------+
| 536     | 1435       | 10       | 03/02/2022 08:40:00 |
+---------+------------+----------+---------------------+
| 827     | 2452       | 45       | 04/09/2022 00:00:00 |
+---------+------------+----------+---------------------+

In [23]:
select count(1) as Num_users from (select user_id,product_id,count(1) from purchases
group by user_id,product_id
having count(1) >1
)

+-----------+
| Num_users |
+-----------+
| 1         |
+-----------+