## Find the room types that are searched most no of times. Ouput the room type along with sumber of searches for it. There can be multiple room type seachres in a single search, so considere each unique type as seperate row. sort them in desc ##

In [2]:
%create example.db

In [3]:
create table airbnb_searches 
(
user_id int,
date_searched date,
filter_room_types varchar(200)
);

In [15]:
insert into airbnb_searches values
(1,'2022-01-01','entire home,private room')
,(2,'2022-01-02','entire home,shared room')
,(3,'2022-01-02','private room,shared room')
,(4,'2022-01-03','private room')
;

In [16]:
select * from airbnb_searches

+---------+---------------+--------------------------+
| user_id | date_searched | filter_room_types        |
+---------+---------------+--------------------------+
| 1       | 2022-01-01    | entire home,private room |
+---------+---------------+--------------------------+
| 2       | 2022-01-02    | entire home,shared room  |
+---------+---------------+--------------------------+
| 3       | 2022-01-02    | private room,shared room |
+---------+---------------+--------------------------+
| 4       | 2022-01-03    | private room             |
+---------+---------------+--------------------------+

In [29]:
select 
sum(case when filter_room_types like '%entire %' then 1 else 0 end) as en,
sum(case when filter_room_types like '%private%' then 1 else 0 end )as pv,
sum(case when filter_room_types like '%shared%' then 1 else 0 end) as sh
from airbnb_searches

+----+----+----+
| en | pv | sh |
+----+----+----+
| 2  | 3  | 2  |
+----+----+----+

In [32]:
with cte as (select 
sum(case when filter_room_types like '%entire %' then 1 else 0 end) as en,
sum(case when filter_room_types like '%private%' then 1 else 0 end )as pv,
sum(case when filter_room_types like '%shared%' then 1 else 0 end) as sh
from airbnb_searches)

select 'entire room' as value,en cnt from cte

union all
select 'private room' as value,pv cnt from cte
union all
select 'shared room' as value,sh cnt from cte
order by cnt desc;

+--------------+-----+
| value        | cnt |
+--------------+-----+
| private room | 3   |
+--------------+-----+
| entire room  | 2   |
+--------------+-----+
| shared room  | 2   |
+--------------+-----+

In [ ]:
-- or

select value as room_type,count(1) as number+_of_searches from airbnb_searches

cross apply string_split(filter_room_types,',')
group by value
desc by count(1)