# *Write a SQL query to find all the emp who are present in hospital* #

In [1]:
%create example.db

In [2]:
create table hospital ( emp_id int
, action varchar(10)
, time datetime);

In [3]:
insert into hospital values ('1', 'in', '2019-12-22 09:00:00'),
('1', 'out', '2019-12-22 09:15:00'),
('2', 'in', '2019-12-22 09:00:00'),
('2', 'out', '2019-12-22 09:15:00'),
('2', 'in', '2019-12-22 09:30:00'),
('3', 'out', '2019-12-22 09:00:00'),
('3', 'in', '2019-12-22 09:15:00'),
('3', 'out', '2019-12-22 09:30:00'),
('3', 'in', '2019-12-22 09:45:00'),
('4', 'in', '2019-12-22 09:45:00'),
('5', 'out', '2019-12-22 09:40:00');

In [4]:
select * from hospital

+--------+--------+---------------------+
| emp_id | action | time                |
+--------+--------+---------------------+
| 1      | in     | 2019-12-22 09:00:00 |
+--------+--------+---------------------+
| 1      | out    | 2019-12-22 09:15:00 |
+--------+--------+---------------------+
| 2      | in     | 2019-12-22 09:00:00 |
+--------+--------+---------------------+
| 2      | out    | 2019-12-22 09:15:00 |
+--------+--------+---------------------+
| 2      | in     | 2019-12-22 09:30:00 |
+--------+--------+---------------------+
| 3      | out    | 2019-12-22 09:00:00 |
+--------+--------+---------------------+
| 3      | in     | 2019-12-22 09:15:00 |
+--------+--------+---------------------+
| 3      | out    | 2019-12-22 09:30:00 |
+--------+--------+---------------------+
| 3      | in     | 2019-12-22 09:45:00 |
+--------+--------+---------------------+
| 4      | in     | 2019-12-22 09:45:00 |
+--------+--------+---------------------+
| 5      | out    | 2019-12-22 09:40:00 |
+--------+--------+---------------------+

In [6]:
select *,
max(case when action = 'in' then time end) as intime,
max(case when action = 'out' then time end) as outime
from hospital

group by emp_id

+--------+--------+---------------------+---------------------+---------------------+
| emp_id | action | time                | intime              | outime              |
+--------+--------+---------------------+---------------------+---------------------+
| 1      | out    | 2019-12-22 09:15:00 | 2019-12-22 09:00:00 | 2019-12-22 09:15:00 |
+--------+--------+---------------------+---------------------+---------------------+
| 2      | out    | 2019-12-22 09:15:00 | 2019-12-22 09:30:00 | 2019-12-22 09:15:00 |
+--------+--------+---------------------+---------------------+---------------------+
| 3      | out    | 2019-12-22 09:30:00 | 2019-12-22 09:45:00 | 2019-12-22 09:30:00 |
+--------+--------+---------------------+---------------------+---------------------+
| 4      | in     | 2019-12-22 09:45:00 | 2019-12-22 09:45:00 |                     |
+--------+--------+---------------------+---------------------+---------------------+
| 5      | out    | 2019-12-22 09:40:00 |                     | 2019-12-22 09:40:00 |
+--------+--------+---------------------+---------------------+---------------------+

In [8]:
with cte as (select *,
max(case when action = 'in' then time end) as intime,
max(case when action = 'out' then time end) as outime
from hospital

group by emp_id)

select * from cte 
where intime > outime or outime is null

+--------+--------+---------------------+---------------------+---------------------+
| emp_id | action | time                | intime              | outime              |
+--------+--------+---------------------+---------------------+---------------------+
| 2      | out    | 2019-12-22 09:15:00 | 2019-12-22 09:30:00 | 2019-12-22 09:15:00 |
+--------+--------+---------------------+---------------------+---------------------+
| 3      | out    | 2019-12-22 09:30:00 | 2019-12-22 09:45:00 | 2019-12-22 09:30:00 |
+--------+--------+---------------------+---------------------+---------------------+
| 4      | in     | 2019-12-22 09:45:00 | 2019-12-22 09:45:00 |                     |
+--------+--------+---------------------+---------------------+---------------------+

## Using joins

In [10]:
select emp_id,max(time) as in_time from hospital 
    where action = 'in'
group by 1

+--------+---------------------+
| emp_id | in_time             |
+--------+---------------------+
| 1      | 2019-12-22 09:00:00 |
+--------+---------------------+
| 2      | 2019-12-22 09:30:00 |
+--------+---------------------+
| 3      | 2019-12-22 09:45:00 |
+--------+---------------------+
| 4      | 2019-12-22 09:45:00 |
+--------+---------------------+

In [11]:
select emp_id,max(time) as out_time from hospital 
    where action = 'out'
group by 1

+--------+---------------------+
| emp_id | out_time            |
+--------+---------------------+
| 1      | 2019-12-22 09:15:00 |
+--------+---------------------+
| 2      | 2019-12-22 09:15:00 |
+--------+---------------------+
| 3      | 2019-12-22 09:30:00 |
+--------+---------------------+
| 5      | 2019-12-22 09:40:00 |
+--------+---------------------+

In [16]:
with latest_in as (select emp_id,max(time) as in_time from hospital 
    where action = 'in'
group by 1),
latest_out as (select emp_id,max(time) as out_time from hospital 
    where action = 'out'
group by 1)

select * from latest_in a
left join latest_out b on
a.emp_id = b.emp_id

where in_time > out_time or out_time is null

+--------+---------------------+--------+---------------------+
| emp_id | in_time             | emp_id | out_time            |
+--------+---------------------+--------+---------------------+
| 2      | 2019-12-22 09:30:00 | 2      | 2019-12-22 09:15:00 |
+--------+---------------------+--------+---------------------+
| 3      | 2019-12-22 09:45:00 | 3      | 2019-12-22 09:30:00 |
+--------+---------------------+--------+---------------------+
| 4      | 2019-12-22 09:45:00 |        |                     |
+--------+---------------------+--------+---------------------+